extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium esse quod tenetur quidem ex non laudantium at reiciendis libero fugit? Ut quo facilis tempora reprehenderit explicabo laudantium facere esse quasi.